body {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: white;
    background-color: black;
}

.display-4 {
    text-align: center;
    font-size: 2rem;
}

#ins {
    font-size: 1.2rem;
    text-align: center;
}

.currentNum {
    text-align: center;
    font-size: 2rem;
}
